.Header {
    font-size:28px;
    color:tomato;
    font-weight: 900;
    text-decoration: underline gray;
    text-shadow: 2px 2px 5px black
}

.dot{
    font-size: 34px;
    color:black
}

.js{
    color:skyblue;
    font-style:italic
}